# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
*.venv
.env

# PyInstaller
build/
dist/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Operating System Files
Thumbs.db